body {
  background-color: #E5E1D1;
  color: #2C343B;
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  text-decoration: none;
}

a, a:hover, a:visited  {
  color: inherit;
}

.site {
  background-color: #FFFFFF;
  max-width: 45em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media all and (min-device-width: 768px) {
  .site {
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
  }
}