body {
  background-color: #E5E1D1;
  color: #2C343B;
  font-family: Helvetica, Arial, sans-serif;
}

.site {
  background-color: #FFFFFF;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-device-width: 768px) {
  margin-top: 3em;
  margin-bottom: 3em;
}