body {
  background-color: #E5E1D1;
  color: #2C343B;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  text-align: justify;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
}

.site {
  background-color: #FFFFFF;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom:0.5em;
}

.header {
  background-color: #2C343B;
  border-bottom: 1em solid #C44741;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  color: #E5E1D1;
}

.header h1 a {
  text-decoration: none;
}

.footer {
  background-color: #FFFFFF;
  border-top: 0.25em solid #2C343B;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 80%;
  color: #52616D;
}

.footer p {
  margin: 0em;
}

.footer img {
  position: relative;
  float: right;
  top: -0.6em;
  margin-left: 1em;
}

a, a:hover, a:visited  {
  color: inherit;
}

p img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  height: auto;
}

code {
  background-color: #E5E1D1;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-top: 0em;
  padding-bottom: 0em;
  border: 0.1em solid #52616D;
  word-wrap: break-word;
  text-align: left;
}

ul {
  padding-top:0.5em;
  padding-left: 1em;
}

ol {
  padding-top: 0.5em;
  padding-left: 1.5em;
}

li {
  padding-bottom: 0.5em
}

@media all and (min-device-width: 768px) {

  p img {
    max-width: 35em;
  }

  .wrapper {
    max-width: 45em;
  }

  .site {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
  }

  .header {
    margin-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
  }

  .footer {
    margin-bottom: 3em;
    padding-left: 3.75em;
    padding-right: 3.75em;
  }
}
