/* http://perishablepress.com/the-5-minute-css-mobile-makeover/ */

@media handheld {

  * {
    float: none;
  }


  html, body {
    background-color: #FFFFFF;
    padding: 3px;
    color: #2C343B;
    margin: 0px;
    font: 13.34px Helvetica, Arial, sans-serif;
  }
  
  #footer {
    display: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
   font-weight: normal;
  }
  
  #content img {
    max-width: 250px;
  }

  /* iPhone-specific styles */
  @media only screen and (max-device-width: 480px) {
    html {
      	-webkit-text-size-adjust: none;
    }
  }

}
