<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width" />
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
      <div class="wrapper">
        <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        </div>
        <div class="site">

          {{ content }}

        </div>
        <div class="footer">
          <div class="contact">
            <!-- LGPLv3 License -->
            <a rel="license" href="https://github.com/dancingborg/dancingborg.github.io/blob/master/LICENSE.md"><img alt="LGPLv3 License" src="https://raw.githubusercontent.com/dancingborg/dancingborg.github.io/master/_img/lgplv3-88x31.png" /></a>
              <!-- CSS Validator -->
              <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img src="http://jigsaw.w3.org/css-validator/images/vcss"
                  alt="Valid CSS!" />
              </a>
              <!-- HTML5 Validator Badge -->
              <a href="http://validator.w3.org/check?uri=referer">
                  <img src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="33" height="34" alt="HTML5 Powered" title="HTML5 Powered">
              </a>
            <p>
              <a href="https://github.com/dancingborg">github</a>
            </p>
          </div>
        </div>
      </div>
    </body>
</html>
