<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
      <div class="wrapper">
        <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        </div>
        <div class="site">

          {{ content }}

        </div>
        <div class="footer">
          <div class="contact">
            <p>
              <a href="https://github.com/dancingborg">github.com/dancingborg</a>
            </p>
          </div>
        </div>
      </div>
    </body>
</html>
